@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --import-font-family: "Kumbh Sans";
  --system-font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --dark-grayish-blue: hsl(219, 9%, 45%);
}

body {
  margin: 0px;
  padding: 30px 100px 0px 100px;
  font-family: var(--import-font-family);
  max-height: 100vh;
}

div.header-container {
  display: flex;
  justify-content: space-between;
}

div.header-container-one {
  display: flex;
  align-items: center;
  gap: 80px;
}

ul.header-links {
  list-style: none;
  display: flex;
  gap: 25px;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: var(--dark-grayish-blue);
  font-size: 17px;
  font-family: var(--import-font-family);
}

div.header-container-two {
  display: flex;
  align-items: center;
  gap: 30px;
}

.cart-icon,
.profile-icon {
  cursor: pointer;
}

.profile-icon > img {
  width: 40px;
}

.profile-icon > img:hover {
  border: 2px solid tomato;
  border-radius: 20px;
}

hr {
  margin-top: 25px;
  opacity: 0.2;
}

.product-img {
  width: fit-content;
}

.product-img > img {
  width: 450px;
  border-radius: 18px;
}

div.img-container {
  width: fit-content;
  display: grid;
  row-gap: 30px;
}

div.products-img-thumbnails {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.products-img-thumbnails > img {
  width: 89px;
  border-radius: 11px;
}

div.info-container {
  width: fit-content;
}

div.container-one {
  display: grid;
  row-gap: 8px;
}

div.container-one h4 {
  margin: 0px;
  text-transform: uppercase;
  font-size: 14px;
  color: hsl(26, 100%, 55%);
}

div.container-one h1 {
  margin: 0px;
  width: 400px;
}

div.container-two {
  margin-top: 35px;
  display: grid;
  row-gap: 25px;
}

p.product-detail {
  margin: 0;
  width: 500px;
  color: hsl(219, 9%, 45%);
  line-height: 28px;
}

div.product-price {
  display: grid;
  grid-gap: 10px;
}

div.product-price div:nth-child(1) {
  display: flex;
  gap: 20px;
  align-items: center;
}

div.product-price div:nth-child(1) > p:nth-child(1) {
  margin: 0px;
  font-size: 23px;
  font-weight: 700;
}

div.product-price div:nth-child(1) > p:nth-child(2) {
  margin: 0px;
  padding: 2px;
  font-size: 14px;
  font-weight: 600;
  width: 45px;
  height: 23px;
  background-color: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
}

div.product-price div:nth-child(2) > p {
  margin: 0px;
  font-size: 15px;
  text-decoration: line-through;
  font-weight: 400;
  color: hsl(219, 9%, 45%);
}

div.content-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  padding-top: 80px;
  padding-left: 90px;
  padding-right: 90px;
}

div.info-container {
  margin-top: 58px;
}

div.container-three {
  margin-top: 35px;
  display: flex;
  gap: 25px;
}

div.quantity-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  padding: 12px 17px 12px 17px;
  border-radius: 8px;
  background: hsl(223, 64%, 98%);
}

p.quantity-value {
  margin: 0px;
}

img.minus-btn {
  cursor: pointer;
}

img.plus-btn {
  cursor: pointer;
}

div.addToCartBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  gap: 10px;
  border-radius: 9px;
  background-color: hsl(26, 100%, 55%);
  cursor: pointer;
  box-shadow: 0px 47px 50px -19px hsl(26, 100%, 55%);
}

div.addToCartBtn > p {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  color: white;
}

div.cart-icon {
  position: relative;
}

div.notification {
  position: absolute;
  width: 1.5rem;
  border-radius: 13px;
  text-align: center;
  background-color: hsl(26, 100%, 55%);
  bottom: 16px;
  left: 8px;
}

div.notification > p {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  color: white;
}

div.cart-container {
  background-color: hsl(0, 0%, 100%);
  display: grid;
  grid-template-rows: 3rem 13rem;
  width: 25rem;
  border-radius: 1rem;
  border-color: transparent;
  box-shadow: 0px 11px 69px -35px;
  position: absolute;
  top: 2.5rem;
  right: -8rem;
  z-index: 1;
}

div.cart-container > div:nth-child(1) > p {
  font-size: 18px;
  font-weight: 600;
  padding: 15px;
  margin: 0px;
}

div.cart-container > div:nth-child(1) > hr {
  opacity: 0.2;
  border: 0.1px solid;
  margin: 5px 0 0 auto;
}

div.cart-container > div:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.cart-container > div:nth-child(2) > p {
  margin: 0px;
  font-size: 18px;
  color: hsl(219, 9%, 45%);
  font-weight: 500;
}
