@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --import-font-family: "Kumbh Sans";
  --system-font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --dark-grayish-blue: hsl(219, 9%, 45%);
}

body {
  margin: 0px;
  padding: 30px 100px 0px 100px;
  font-family: var(--import-font-family);
}

div.header-container {
  display: flex;
  justify-content: space-between;
}

div.header-container-one {
  display: flex;
  align-items: center;
  gap: 80px;
}

ul.header-links {
  list-style: none;
  display: flex;
  gap: 25px;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: var(--dark-grayish-blue);
  font-size: 17px;
  font-family: var(--import-font-family);
}

div.header-container-two {
  display: flex;
  align-items: center;
  gap: 30px;
}

.cart-icon,
.profile-icon {
  cursor: pointer;
}

.profile-icon > img {
  width: 40px;
}

hr {
  margin-top: 25px;
  opacity: 0.2;
}

.product-img {
  width: fit-content;
}

.product-img > img {
  width: 450px;
  border-radius: 18px;
}

div.img-container {
  width: fit-content;
  display: grid;
  row-gap: 30px;
}

div.products-img-thumbnails {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.products-img-thumbnails > img {
  width: 89px;
  border-radius: 11px;
}
